*/*/*/.metadata/**
*/*/.metadata/**
*/.metadata/**
/.metadata/**
*.aux
*.bbl
*.blg
*.log
*.out
*.indexcache
*~
*.dvi
*.prefs
*.classpath
*.class
*.toc
*.vrb
*.snm
*.nav
*.swp
*.pyc
*.asv
*.lof
*.lot
*.pdf
*.jar
*/*/*/*/*/*/*/*/.svn/**
*/*/*/*/*/*/*/.svn/**
*/*/*/*/*/*/.svn/**
*/*/*/*/*/.svn/**
*/*/*/*/.svn/**
*/*/*/.svn/**
*/*/*/.svn/**
*/*/.svn/**
*/.svn/**
